
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

   
<h6 class="text-center">Employee Register</h6><br/>
<div *ngIf="show">
<table class="table table-sm table-hover">
  <tr *ngFor="let employee of employeeList">
      <td><label (click)='showPopup(employee)'>{{employee.name}}</label></td>
      <td>{{employee.position}}</td>
      <td>
        <a class="btn" (click)="onEdit(employee)">
          <i class="fa fa-pencil-square-o"></i>
        </a>
        <a class="btn" (click)="onDelete(employee.$key)">
          <i class="fa fa-trash-o"></i>
        </a>
      </td>
  </tr>
</table>
</div>
<input type="text" (keyup) ="onSearch($event)">
<div *ngIf="searchShow">
  <table class="table table-sm table-hover">
    <tr *ngFor="let employee of employeeList">
        <td *ngIf="employee.name===searchKey">{{employee.name}}</td>
        <td *ngIf="employee.name==searchKey">{{employee.position}}</td>
        <td>
          <a class="btn" (click)="onEdit(employee)">
            <i class="fa fa-pencil-square-o"></i>
          </a>
          <a class="btn" (click)="onDelete(employee.$key)">
            <i class="fa fa-trash-o"></i>
          </a>
        </td> 
    </tr>
  </table>
</div>

<div class="container" *ngIf="myModalShow">

  <!-- Modal -->
  <div class="modal show" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="onClose()" type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Employee Details</h4>
        </div>
        <div class="modal-body">
          <p>Employee Name : {{employeeName}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Close</button>
        </div>
      </div>
      
    </div>
  </div>
